<div class="tab-content">
   <div id="ember568" role="tabpanel" class="ember-view tab-pane active fade in">
      <div class="paper border-top-0">
        <br />
        <p>获取MOAC钱包地址 <a href="https://www.moacwalletonline.com/" target="_blank">https://www.moacwalletonline.com/</a></p>
        <p>下载 <a href="https://github.com/ethereum-mining/ethminer/releases" target="blank">ethminer</a> 对应你的操作系统</p>
        <h4><img src="windows.svg" height="20"> Windows</h4>
        <p> 建立 <code>miner.bat</code> 参考以下内容.</p>
        <pre><code>
setx GPU_FORCE_64BIT_PTR 0
setx GPU_MAX_HEAP_SIZE 100
setx GPU_USE_SYNC_OBJECTS 1
setx GPU_MAX_ALLOC_PERCENT 100
setx GPU_SINGLE_ALLOC_PERCENT 100
<kbd>&lt;path to miner&gt;</kbd>/ethminer.exe -F http://dapool.me:<kbd>&lt;port&gt;</kbd>/<kbd>&lt;wallet&gt;</kbd>/<kbd>&lt;worker&gt;</kbd> -G --farm-recheck 200
        </code></pre>
        <p>
          <code>&lt;port&gt;</code> 对应你难度的端口
            <code>&lt;wallet&gt;</code> 你的MOAC钱包地址,例如:
            <code>0xd34699FD152fe38CAacD3C096F6abb1cd79e88b2</code>.
            <br>
            <code>&lt;worker&gt;</code> 你的矿机名,例如 : <code>rig01</code>, <code>rig02</code>
        </p>
      </div>
      <br />
      <div class="paper border-top-0">
        <h4><img src="linux.svg" height="20"> Linux</h4>
        <p>建立 <code>miner.sh</code> 参考以下内容:</p>
        <pre><code>
#!/bin/bash
export GPU_FORCE_64BIT_PTR=0
export GPU_MAX_HEAP_SIZE=100
export GPU_USE_SYNC_OBJECTS=1
export GPU_MAX_ALLOC_PERCENT=100
export GPU_SINGLE_ALLOC_PERCENT=100
<kbd>&lt;path to miner&gt;</kbd>/ethminer -F http://dapool.me:<kbd>&lt;port&gt;</kbd>/<kbd>&lt;wallet&gt;</kbd>/<kbd>&lt;worker&gt;</kbd> -G --farm-recheck 200
        </code></pre>
        <p>赋予执行权限: <code>chmod +x &lt;path to .sh file&gt;</code> 然后运行</p>
        <p>
          <code>&lt;port&gt;</code> 对应你难度的端口
            <code>&lt;wallet&gt;</code> 你的MOAC钱包地址,例如:
            <code>0xd34699FD152fe38CAacD3C096F6abb1cd79e88b2</code>.
            <br>
            <code>&lt;worker&gt;</code> 你的矿机名,例如 : <code>rig01</code>, <code>rig02</code>
        </p>
      </div>
   </div>
</div>
