<div class="tab-content">
   <div id="ember568" role="tabpanel" class="ember-view tab-pane active fade in">
      <div class="paper border-top-0">
        <br />
        <h4>池设置示例:</h4>
        <pre><code>
          <i>Custom Pool Name</i>: <strong>MOAC</strong> or any name what you want
          <i>Algorithm</i>: <strong>DaggerHashimoto</strong>
          <i>Stratum Hostname or IP</i>: <strong>dapool.me</strong>
          <i>Port</i>: <strong>5007</strong>
          <i>Username</i>: 你的钱包地址
          <i>Password</i>: <strong>#</strong>
        </code></pre>
      </div>
   </div>
</div>
